/*General*/

:root {
    --Background: #212529;
    --MainColor: #9B9D9E;
    --SeconColor: #6C757D;
}

* {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.0em;
    line-height: 1.5;
}


a {
    text-decoration: none;
    color: white

}

body {
    background: var(--Background);
    color: var(--MainColor);
}



/*Header*/

header {
    border-bottom : var(--MainColor) solid 1px;
    margin: 0px 15px 20px 15px;
    
}

@media (min-width: 770px) {
.navbar_style {
    flex-wrap: nowrap;
    justify-content: space-between;
}

header nav div ul {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    
}
}

.nav-link {
    font-size: 20px;
}

/*Main and sections*/

h3 {
    border-bottom : var(--MainColor) solid 1px;
    width: fit-content;
    margin: 50px 0px;
}



/*About me*/

#my_photo {
    width:100px;
    height: 110px;
    border-radius: 15px;
    align-self: center;
    margin: 5px
}

#my_card {
    display: flex;
    flex-direction: column;
    max-height: 50%;
    
    
}
@media (min-width: 770px) {
    #my_card {
        flex-direction: row;
        max-width: 75%;
    }

#my_bio {
    text-align: justify;
}

}
/*My Work*/ 


figure div {
    z-index: 1;
    padding: 5px;
  
}


.img-link img {
    min-height: 270px;
    max-height: 270px;
    background-color: var(--Background);

}

@media (min-width: 770px) {

    .my_cards{
        min-height: 350px;
        max-height: 350px;
        
    }

    
}

.my_cards .img-link::before {
    position:absolute;
    display: block;
    z-index: 1;
    content: '';
    background: var(--SeconColor);
    opacity: 0.3;
    width: 100%;
    height: 100%;
    max-width: 100%;
    transition: 0.5s;
}

.my_cards:hover a::before {
    opacity:0;
}


/*Footer*/

label {
    color:white;
}
